//- p.font-size-small.mb-1 Copyright &copy; {{getYear()}} E Poll
//- p.font-size-small.mb-1
//-   span.font-weight-medium Ai nevoie de ajutor?
//-   |  Vizitează pagina de
//-   a.font-weight-medium( href="/docs/faqs/" )  Întrebări Frecvente
//-   |.
//- p.font-size-small.mb-1 Ne poţi contacta direct pe pagina noastră de
//-   a.font-weight-medium(href="https://m.me/craiovapd")  Facebook
//-   |.
//- p.font-size-small
//-   a.font-weight-medium(href, routerLink="/terms-of-service")  Termeni și condiții
//-   |  &amp;
//-   a.font-weight-medium(href, routerLink="/privacy-policy")  Politica de confidențialitate
//-   |.

div.wrapper.py-3
  div.d-flex
    div.col
      h6 ePoll
      ul.list-unstyled.pl-3.footer-list
        li
          a(href="", [routerLink]="['/']") Dezbateri
        li
          a(href="", [routerLink]="['/']") Comunicari
        li
          a(href="", [routerLink]="['/']") Autentificare

    div.col
      h6 Social Media
      ul.list-unstyled.pl-3.footer-list
        li
          a(href="https://www.facebook.com/craiovapd")
            i.fab.fa-facebook-square.mr-1
            span Facebook
        li
          a(href="https://m.me/craiovapd")
            i.fab.fa-facebook-messenger.mr-1
            span Messenger
        li
          a(href="mailto:sebestin.dragos@gmail.com")
            i.fas.fa-at.mr-1
            span Email

  p.text-center.m-0.mt-3.
    Copyright &copy; {{getYear()}} E Poll. Facut cu ❤ in Craiova.
