div.wrapper.py-3
  div.d-flex
    div.col
      h6 ePoll
      ul.list-unstyled.pl-3.footer-list
        li
          a(href="", [routerLink]="['/polls']") Sondaje
        li
          a(href="", [routerLink]="['/anouncements']") Comunicari
        li
          a(href="", [routerLink]="['/privacy-policy']") Politica de Confidentialitate

    div.col
      h6 Social Media
      ul.list-unstyled.pl-3.footer-list
        li
          a(href="https://www.facebook.com/craiovapd")
            i.fab.fa-facebook-square.mr-1
            span Facebook
        li
          a(href="https://m.me/craiovapd")
            i.fab.fa-facebook-messenger.mr-1
            span Messenger
        li
          a(href="mailto:sebestin.dragos@gmail.com")
            i.fas.fa-at.mr-1
            span Email

  p.text-center.m-0.mt-3.
    Copyright &copy; {{getYear()}} E Poll. Facut cu ❤ in Craiova.
