p.font-size-small.mb-1 Copyright &copy; {{getYear()}} E Poll
p.font-size-small.mb-1
  span.font-weight-medium Ai nevoie de ajutor?
  |  Vizitează pagina de
  a.font-weight-medium( href="/docs/faqs/" )  Întrebări Frecvente
  |.
p.font-size-small.mb-1 Ne poţi contacta direct pe pagina noastră de
  a.font-weight-medium(href="https://m.me/craiovapd")  Facebook
  |.
p.font-size-small
  a.font-weight-medium(href, routerLink="/terms-of-service")  Termeni și condiții
  |  &amp;
  a.font-weight-medium(href, routerLink="/privacy-policy")  Politica de confidențialitate
  |.
