epoll-navbar
  div.col-12.col-md-9.col-lg-6.mx-auto.px-0
    div.d-flex.justify-content-between
      epoll-navbar-logo-button
      epoll-navbar-user-menu

main.container( epoll-json-ld, [schema]="SCHEMA" )
  div.row
    div.col-12.col-md-9.col-lg-6.mx-auto
      ng-container(*ngTemplateOutlet="_tfPage")

footer.container-fluid.mt-3
  div.row
    div.col-12.col-md-9.col-lg-6.mx-auto
      epoll-copyright-footer

ng-template(#_tfPage)
  section#editorActions.my-3(
    *ngIf="isAdmin$ | async"
  )
    a.d-block.btn.btn-primary(
      routerLink="polls/add"
    ) ADAUGĂ SONDAJ
    a.d-block.btn.btn-default(
      routerLink="anouncements/add"
    ) ADAUGĂ COMUNICARE NOUĂ
  h1.h2.mt-2 Opinia ta despre...
  epoll-poll-list([polls]="polls$ | async", [showState]="isAdmin$ | async")
  div.text-center
    a(routerLink="polls") Vezi toate sondajele

  h1.h2.mt-3 Comunicari
  epoll-anouncement-list([anouncements]="anouncements$ | async", [showState]="isAdmin$ | async")
  div.text-center
    a(routerLink="anouncements") Vezi toate comunicarile

