epoll-navbar
  div.col-12.col-md-9.col-lg-6.mx-auto.px-0
    div.d-flex.justify-content-between
      epoll-navbar-logo-button

//- div( epoll-json-ld, [schema]="SCHEMA" )

main.container
  div.row
    div.col-12.col-md-9.col-lg-6.mx-auto
      ng-container(*ngTemplateOutlet="_tfPage")
      button.btn.btn-block(
        (click)="loginAK()"
      ) Login

footer.container-fluid.p-0.mt-3
  div.row
    div.col-12.col-md-9.col-lg-6.mx-auto
      epoll-copyright-footer

ng-template(#_tfPage)
  h1 Opinia voastra despre...
  epoll-poll-list([polls]="polls$ | async")

  h1.mt-3 Comunicari

