epoll-navbar
  div.col-12.col-md-9.col-lg-6.mx-auto.px-0
    div.d-flex.justify-content-between
      epoll-navbar-logo-button
      epoll-navbar-user-menu

//- div( epoll-json-ld, [schema]="SCHEMA" )

main.container
  div.row
    div.col-12.col-md-9.col-lg-6.mx-auto
      ng-container(*ngTemplateOutlet="_tfPage")

footer.container-fluid.mt-3
  div.row
    div.col-12.col-md-9.col-lg-6.mx-auto
      epoll-copyright-footer

ng-template(#_tfPage)
  h1.h2.mt-5 Opinia ta despre...
  epoll-poll-list([polls]="polls$ | async")

  h1.h2.mt-3 Comunicari

