// primary colors
$primaryColor = #4392F1;
$primaryColorDark = #2C5FA9;
$secondaryColor = #52489C;
$secondaryColorDark = #46237A;

// contextual
$disabledColor = #999CA1;
$bgLightColor = #D0CCD0;
$successColor = #53DBA0;
$dangerColor = #F0535E;
$warningColor = #F2981D;

// meta
$white = #FFFFFF;
$grayColor = #EFEFEF;
$grayDarkColor = #353C4E;
$defaultTextColor = #212529;
