@import './colors';

.btn
  border-radius 10px

.btn-primary
  background-color $primaryColor

// progress bars
.progress
  background-color #EFEFEF
  border-radius 0
.progress.selected
  background-color $gray-dark
  color white

.progress-bar
  background-color $primaryColor
