div(*ngIf="(userProfile$ | async) as profile; else loginLink")
  a([routerLink]="['/u', profile._id]")
    span {{profile.firstname}}

ng-template(#loginLink)
  a(routerLink='/login')
    span Autentificare
