@import '../../../styles/colors'

.anouncement-container
  background-color $grayColor
  color $defaultTextColor
  text-decoration none

.anouncement-container .anouncement-title
  font-size 1rem
  font-weight normal
  vertical-align middle

.anouncement-container .anouncement-date-day
  font-size 1.5rem
  line-height 1.5rem
  font-weight bold
  color $primaryColor

.anouncement-container .anouncement-date-month
  // font-size 1.5rem
  // line-height 1.5rem
  font-weight bold
  text-transform uppercase
