epoll-navbar
  div.col-12.col-md-9.col-lg-6.mx-auto.px-0
    div.d-flex.justify-content-between
      epoll-navbar-logo-button

main.container
  div.row
    div.col-12.col-md-9.col-lg-6.mx-auto
      h1.h2.my-2 Politica de Confidentialitate
      h2.h4 Introducere
      p.
        Având în vedere intrarea în vigoare la data de 25 mai 2018 a Regulamentului (UE) 2016/679 al Parlamentului European și al Consiliului privind protecția persoanelor fizice în ceea ce privește prelucrarea datelor cu caracter personal și privind libera circulație a acestor date și de arogare a Directivei 95/46/CE (Regulamentul general privind protecția datelor) (denumit în continuare „Regulamentul”) Craiova PD se obligă să respecte principiile de prelucrare a datelor cu caracter personal ale persoanelor vizate și obligațiile ce îi revin în baza Regulamentului, precum și drepturile persoanelor vizate prevăzute de Regulament. În acest sens Craiova Programming Department (Craiova PD) pune la dispoziția Dvs. prezenta informare privind prelucrarea datelor cu caracter personal colectate pe acest website.
        Site-ul epoll.craiovapd.ro are ca obiectiv să afle opiniile cetățenilor în legătură cu probleme ce privesc orașul Craiova și administrarea lui. ePoll este dezvoltat de un Grup de ITiști independenți care au format grupul Craiova Programming Department(Craiova PD)ce-și propune să dezvolte voluntar aplicații pentru comunicate.
        Toate datele cu caracter personal colectate pe site sunt prelucrate de către Craiova PD. Dacă vizitați acest site, datele cu caracter personal sunt colectate și utilizate într-o proporție redusă. Cu această declarație privind protecția datelor vrem să reliefăm și să explicăm angajamentul nostru pentru o gestionare sigură și fiabilă a acestor date, despre cum anume utilizăm datele cu caracter personal ale vizitatorilor noștri. În cadrul prezentei declarații privind protecția datelor vrem să vă informăm despre gestionarea datelor dumneavoastră, pe cuprinsul acestui site. Datele dvs. nu vor fi utilizate pentru emailing sau sms și nu vor fi vândute unor terți.
      h2.h4 2. Ce sunt datele cu caracter personal?
      p.
        Datele cu caracter personal sunt acele date ce pot fi asociate unei persoane. Conform Regulamentului sunt considerate date cu caracter personal, spre exemplu, date precum numele, adresa, adresa de e-mail şi numărul de telefon. De asemenea există categorii de informaţii tehnice, precum adresa de IP, de exemplu, care în cazuri specifice pot reprezenta date cu caracter personal.
        Având în vedere aspectele menţionate în paragraful anterior, vă informăm cu privire la faptul că din motive tehnice, se colectează automat la vizitarea acestui site de web date specifice, ca de ex. adresa IP, pe care furnizorul dumneavoastră de servicii internet o atribuie computerului dumneavoastră cu ocazia conectării la internet sau informații despre pagina de internet de pe care ați accesat oferta noastră sau browser-ul de internet pe care îl utilizați (informații tehnice).
        Aceste informații tehnice pot reprezenta în cazuri individuale izolate și date cu caracter personal. De regulă utilizăm informațiile tehnice în majoritatea cazurilor uzuale numai în măsura în care acestea sunt necesare din motive tehnice pentru operarea site-ului nostru de web și protecția acesteia împotriva atacurilor și abuzurilor precum și pseudonimizat sau anonimizat în scopuri statistice.
      h2.h4 3. Cum vă utilizăm datele dumneavoastră. Scopul prelucrării
      p.
        Utilizăm datele dumneavoastră numai în conformitate cu prevederile legale aplicabile și cu prezentele indicații privind protecția datelor. Prelucrările datelor dumneavoastră care depășesc cadrul menționat anterior sunt efectuate de către noi numai cu acordul dumneavoastră sau vom utiliza datele numai sub formă pseudonimizată sau anonimizată.
        Datele colectate implicit pe site
        Dacă vizitați acest site sunt memorate în mod standard, pe cuprinsul fișierelor tip protocol, așa-numitele Logfiles:
      ul
        li Adresa IP (adresa protocolului de internet) a calculatorului care accesează
        li Site-ul de web de pe care ne vizitați (Referrer)
        li Paginile noastre de web pe care ne vizitați de partea noastră
        li Data și durata vizitei
        li Tipul browser-ului și setările browser-ului (de ex.: limba)
        li Sistemul de operare
      p.
        Datele Logfiles sunt memorate de către noi pentru o perioadă de 7 zile ca măsură tehnică preventivă de protecție a sistemelor de prelucrare a datelor împotriva accesărilor neautorizate. Datele sunt salvate în backup doar pentru restaurări în caz de probleme tehnice sau de securitate.
      h2.h4 4. Exprimarea acordului, drepturile persoanei vizate
      p.
        Sunteți îndreptățit să solicitați rectificarea datelor cu caracter personal eronate sau incomplete care vă privesc. Aveți drepturi să solicitați ștergerea datelor cu caracter personal care vă privesc în măsura în care prelucrarea datelor a avut loc în mod ilicit și nu există obligații juridice de partea noastră care să contravină unei ștergeri.
        Sunteți îndreptățit să solicitați restricționarea prelucrării datelor dumneavoastră, după cum consideraţi necesar.
        Sunteți îndreptățit să solicitați transmiterea datelor dumneavoastră, pe care ni le-ați pus la dispoziție într-un format bine structurat, uzual și lizibil în mod automatizat. Aveți dreptul la portabilitatea datelor, ceea ce presupune ca datele cu caracter personal să fie transmise de noi direct către un alt operator, în măsura în care va fi posibil din punct de vedere tehnic.
        Aveți dreptul să depuneți o plângere la Autoritatea Națională de Supraveghere a Prelucării Datelor cu Caracter Personal, B-dul G-ral. Gheorghe Magheru 28-30 Sector 1, cod postal 010336, Bucuresti, Romania dacă v-au fost încălcate drepturile cuvenite în raport cu protecția datelor.



footer.container-fluid.mt-3
  div.row
    div.col-12.col-md-9.col-lg-6.mx-auto
      epoll-copyright-footer
