div(*ngIf="debate$ | async as debate; else loading")
  h1#title {{debate.title}}
  div.flex.mt-1
    span  postat acum
    b  {{getAgoTime(debate)}}

  article#content.my-4
    markdown(ngPreserveWhitespaces, [data]="debate.content")

  div(*ngIf="!!debate && (debate.payload.attachments.length > 0); then filesList")
  div(*ngIf="!!debate; then social")

  ng-template(#filesList)
    h6 Fisiere atasate
    ul.list-unstyled
      li(*ngFor="let attachment of debate.payload.attachments")
        a(href="{{attachment.file.downloadPath}}", target="_blank")
          i.far.fa-file.mr-2
          span {{attachment.file.originalName}}

  ng-template(#social)
    h2.h6.mt-3.text-center Distribuie
    section.d-flex.justify-content-center
      a.social-icon.mx-2(href="", (click)="$event.preventDefault(); whatsappShare(debate)")
        i.fab.fa-whatsapp
      a.social-icon.mx-2(href="", (click)="$event.preventDefault(); facebookShare(debate)")
        i.fab.fa-facebook-square
      //- a.social-icon.mx-2(href="https://wa.me/?text={{encodeWhatsappMessage(debate)}}")
        i.fab.fa-instagram

//- // TEMPLATES
ng-template(#loading)
  p.my-5 Se incarca

