form(
  *ngIf="hasNotVoted; else pollResultsWidget",
  [formGroup]="voteForm", (ngSubmit)="submitVote(voteForm.controls.voteOptionId.value)"
)
  div.form-check(*ngFor="let option of _debate.payload.options")
    input.form-check-input([id]="option._id", [name]="voteOptionId", [value]="option._id", type="radio", formControlName="voteOptionId")
    label.form-check-label([for]="option._id") {{option.reason}}

  button.btn.btn-block.btn-primary.mt-3(
    type="submit", [disabled]="!voteForm.valid"
  ) VOTEAZA

ng-template(#pollResultsWidget)
  small Ai votat deja in acest sondaj
  div.poll-result.progress.my-2(
    *ngFor="let result of pollResults",
    [ngClass]=`{
      selected: isSelectedOption(result._id)
    }`
  )
    div.progress-bar.progress-bar-striped.progress-bar-animated.py-1(
      role="progress", [attr.aria-valuenow]="result.count",
      aria-valuemin="0", [attr.aria-valuemax]="_debate.payload.votes.count",

      [ngStyle]=`{
        width: (result.count * 100 / _debate.payload.votes.count || 1) + '%'
      }`
    )
    div.poll-result-text.d-flex.justify-content-center.flex-column
      div.d-flex.justify-content-between.px-2
        strong {{result.name}}
        strong.text-nowrap.ml-1 {{ (result.count * 100 / _debate.payload.votes.count).toFixed() || 0 }} %
