div(*ngIf="!!debate; else loading")
  h1.title {{debate.payload.title}}
  div.flex.mt-1
    b {{debate.payload.votes.count}}
    span  voturi
    b  •
    span  postat acum
    b  {{getAgoTime(debate)}}

  div#content.my-4
    span {{debate.payload.content}}

  div(*ngIf="!!debate; then filesList")
  div(*ngIf="!!debate; then poll")
  hr
  div(*ngIf="!!debate; then social")

//- // TEMPLATES
ng-template(#loading)
  p.my-5 Se incarca

ng-template(#filesList)
  h6 Fisiere atasate
  ul.list-unstyled
    li.d-flex(*ngFor="let attachment of debate.payload.attachments")
      div.col-11.p-0
        a(href="{{attachment.file.downloadPath}}", target="_blank")
          i.far.fa-file.mr-2
          span {{attachment.file.originalName}}
      div.col-1.p-0(
        (click)="removeAttachment(debate, attachment)"
      )
        span.text-danger(
          [ngClass]=`{
            invisible: !(isEditor$ | async)
          }`
        )
          i.fas.fa-times
    li.mt-3(
      [hidden]="!(isEditor$ | async)",
      (click)="filePicker.click()"
    )
      i.fas.fa-plus-square
      span.ml-2.pt-3 #[u Adauga atasament]
      input.invisible(
        #filePicker, nvb-file-picker,
        type="file", auto-reset="true",
        (onPick)="addAttachment(debate, $event)",
        hidden="true"
      )

ng-template(#poll)
  h2.h5 Care este părerea ta?
  epoll-poll-vote(
    [debate]="debate",
    [user]="user$ | async",
    (optionVoted)="vote($event)"
  )

ng-template(#social)
  h2.h5.mt-2 Distribuie
  a.social-icon(href="", (click)="$event.preventDefault(); facebookShare(debate)")
    i.fab.fa-facebook-square
  a.social-icon.ml-4(href="https://wa.me/?text={{encodeWhatsappMessage(debate)}}")
    i.fab.fa-instagram
  a.social-icon.ml-4(href="https://wa.me/?text={{encodeWhatsappMessage(debate)}}")
    i.fab.fa-whatsapp
