epoll-navbar
  div.col-12.col-md-9.col-lg-6.mx-auto.px-0
    div.d-flex.justify-content-between
      epoll-navbar-logo-button
      epoll-navbar-user-menu

main.container
  div.row
    div.col-12.col-md-9.col-lg-6.mx-auto.pt-3(
      epoll-infinite-scroll, (scroll)="loadMore()"
    )
      h1.h2.mt-3 Comunicari
      epoll-anouncement-list(
        [anouncements]="(anouncements$ | async)",
        [showState]="isEditor$ | async"
      )

footer.container-fluid.mt-3
  div.row
    div.col-12.col-md-9.col-lg-6.mx-auto
      epoll-copyright-footer
