epoll-navbar
  div.col-12.col-md-9.col-lg-6.mx-auto.px-0
    div.d-flex.justify-content-between
      epoll-navbar-logo-button

main.container
  div.row
    div.col-12.col-md-9.col-lg-6.mx-auto.pt-3
      epoll-debate-host(
        [debate]="debate"
      )
