epoll-navbar
  div.col-12.col-md-9.col-lg-6.mx-auto.px-0
    div.d-flex.justify-content-between
      epoll-navbar-logo-button
      epoll-navbar-user-menu

//- div( epoll-json-ld, [schema]="SCHEMA" )

main.container
  div.row
    div.col-12.col-md-9.col-lg-6.mx-auto
      ng-container(*ngTemplateOutlet="_tfPage")

footer.container-fluid.mt-3
  div.row
    div.col-12.col-md-9.col-lg-6.mx-auto
      epoll-copyright-footer

ng-template(#_tfPage)
  h1.h3.mt-3 Sondaj Nou
  form()
    .form-group
      label.form-control-label(for="title") TITLU
      textarea.form-control(
        id="title", name="title", rows="2"
      )
    .form-group
      label.form-control-label(for="description") DESCRIERE
      textarea.form-control(
        id="description", name="description", rows="5"
      )

  h2.h3 Opţiuni Votare
  p Minim 2 opțiuni pentru votare. Câmpurile necompletate nu o să fie afișate.

  .form-group
    input.form-control(
      type="text", placeholder="ex: Nu mi se pare corect"
    )
  .form-group
    input.form-control(type="text")

  button.btn.btn-block.btn-default(

  ) ADAUGĂ CÂMP NOU

  h2.h3 Atașare fișiere
  p Doar fisierele de tip PDF, PNG si JPG sunt acceptate.
  button.btn.btn-block.btn-default(

  ) ATAȘEAZĂ FIȘIER

  div.epol-divider

  button.btn.btn-block.btn-primary(

  ) CREAZĂ SONDAJ
  button.btn.btn-block.btn-default(

  ) ANULEAZĂ
