@import '../../../styles/colors'

.poll-container
  background-color $grayColor
  color $defaultTextColor
  text-decoration none

.poll-container .poll-title
  font-size 1rem
  font-weight normal
  vertical-align middle

.poll-container .poll-vote-counter
  font-size 1.5rem
  line-height 1.5rem
  font-weight bold
  color $primaryColor

.poll-container .poll-state-label
  font-size .6rem
  display inline-block
  width 3rem
  text-align center
