a.d-flex.poll-container.py-2.mb-2(
  *ngFor="let poll of polls",
  href="", [routerLink]="['/debates', poll._id]"
)
  div.poll-title.col-8
    p {{poll.title}}
  div.col-4.text-right
    p.poll-vote-counter.m-0(
      [ngClass]=`{
        'text-secondary': poll.state === 0
      }`
    ) {{poll.payload.votes.count}}
    p.m-0 voturi
    small.poll-state-label.m-0.px-1(*ngIf="showState", [ngClass]=`{
      'bg-warning': poll.state === 0,
      'bg-success': poll.state === 1,
      'bg-secondary': poll.state === 2
    }`) {{getStateLabel(poll.state)}}
